.landingContainer{
  width: 100vw;
  height: 100vh;
  background:url("/public/background.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.landingContainer nav{
  
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingContainer nav h2{
  font-size: 2.3rem;
  font-weight: 600;
  color: rgb(3, 220, 249);
 
}
.landingContainer nav i{
  font-size: 1.6rem;
}


.landingContainer nav .navlist{
  display:  flex;
  gap: 1.8rem;
  cursor: pointer;
   font-size: 1.3rem;
}

.landingMainContainer{
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh; 
  align-items: center;
}

.landingMainContainer > div:nth-child(1){
   font-size: 1.8rem;
}


.landingMainContainer > div:nth-child(1) div[role='button']{
   background-color: #D97500;
   width: fit-content;
   padding: 0.4rem 1rem 0.9rem 1rem;
   border-radius: 20px;
   margin-top:1.9rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.landingMainContainer > div:nth-child(2) img{
  height: 70vh;
  width: auto;
}


button, svg {
  cursor: pointer;
}


.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}

/* Tablets */
@media (max-width: 1024px) {
  .landingMainContainer {
    padding-inline: 1.5rem;
  }

  .landingMainContainer > div:nth-child(2) img {
    height: 50vh;
  }

  .meetContainer {
    gap: 5vw;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .landingContainer nav {
    flex-direction: column;
    gap: 1rem;
  }

  .landingContainer nav .navlist {
    flex-wrap: wrap;
    justify-content: center;
  }

  .landingMainContainer {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    padding: 2rem 1rem;
  }

  .landingMainContainer > div:nth-child(1) {
    font-size: 1.4rem;
  }

  .landingMainContainer > div:nth-child(2) img {
    height: 40vh;
    margin-bottom: 1.5rem;
  }

  .meetContainer {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }

  .rightPanel > img {
    width: 80vw;
  }
}

/* Small Phones */
@media (max-width: 480px) {
  .landingContainer nav h2 {
    font-size: 1.8rem;
  }

  .landingContainer nav .navlist {
    font-size: 1.1rem;
  }

  .landingMainContainer > div:nth-child(1) div[role='button'] a {
    font-size: 1.2rem;
  }
}